* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: rgb(255, 239, 241);
  font-size: 18px;
  font-family: "Mali", cursive;
  margin: 50px;
  overflow-x: hidden;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
header.header {
  display: grid;
  grid-template-areas:
    "hero hero first-feature"
    "hero hero last-feature";
}

.hero {
  grid-area: hero;
  min-height: 320px;
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: #000;
  color: white;
  text-shadow: 3px 3px 2px rgb(84, 84, 84);
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.first-feature {
  grid-area: first-feature;
  background-image: url(../img/merch1.jpg);
  background-size: cover;
  background-position: bottom;
}

.last-feature {
  grid-area: last-feature;
  background-image: url(../img/merch7.jpg);
  background-size: cover;
  /* background-position: ; */
}

.features .price {
  /* color: black; */
  font-size: 2em;
  font-weight: 200;
}

/* Navigation */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* background-color: orange; */
}

.menu .brand {
  font-size: 1.3em;
  color: rgb(44, 44, 44);
  text-shadow: 2px 2px 2px rgba(255, 120, 178, 0.3);
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  background-color: rgb(242, 170, 182);
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 200;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(242, 170, 182);
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  /* background-color: red; */
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

/* Ketika checkbox di check maka cari sibling/saudaranya yaitu anak kedua */
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: rgb(242, 170, 182);
  padding: 15px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.service h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service p {
  font-size: 0.7em;
  letter-spacing: 1px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 100px;
  gap: 7px;
  margin-bottom: 100px;
}

.gallery h2 {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  display: grid;
  justify-content: center;
  background-color: rgb(255, 123, 145);
  align-items: center;
  height: 50px;
  margin-bottom: -50px;
  font-weight: 200;
  color: #fff;
  /* margin: 10px; */
}
/* Responsive Break Point */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }
  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: rgb(238, 129, 131);
    border-radius: 25px;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1em;
  }

  .hero p.sub-heading {
    font-size: 0.8em;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }
  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(242, 170, 182);
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
    font-weight: bold;
  }
  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
  .menu-toggle {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 15px;
  }
  header.header {
    grid-template-areas:
      "hero"
      "first-feature"
      "last-feature";
  }
}
